* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/login.jpg");
    background-size: cover;
    
}

.glavni-izbornik {
    background-color: rgba(255, 255, 255, 0.5);
}

.glavni-izbornik li {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.glavni-izbornik li a {
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.glavni-izbornik li a:hover {
    color: blue;
 }

.settings_icon {
    margin-left: 460px;
    position:absolute;
    margin-top: 15px;
}

.settings_icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.odjava {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border-style: none;
    margin-left: 510px;
    text-decoration: none;
}

.odjava:hover {
    color: blue;
}


